node_modules/

template-sources.json
template-sources.json
templates/

tmp/
# Scratch documents (requirements drafts, notes) that are not versioned
docs/tmp/

dist/

out/
output/

.env
.env.*
!.env.example


.DS_Store
**/.DS_Store

.npmrc
