dist/bin/
test-fixtures/
src/
templates/
out/
output/
template-sources.json

**.test.ts
**.test.js
**.test.js.map
**.test.d.ts

**/__test__/**

.npmrc.github
.npmrc.npmjs

.github
.env.example

tsconfig.json
